@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap");

:root {
  --h1-size: 35px;
  --h2-size: 20px;
  --h3-size: 15px;
  --icon-size: 25px;
  --title-color: #a78a7f;
}

* {
  width: auto;
  height: auto;
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
  color: var(--title-color);
  display: flex;
  justify-content: center;
}

.icon {
  font-size: var(--icon-size);
}
