.input_checkbox_div {
    padding: 0.5vh;
    display: flex;
}

.input_checkbox {
    vertical-align: -2px;
    transform: scale(1.5);
    accent-color: #8c1c13;
}

.belief_input_span {
    display: flex;
    justify-content: space-between;
}

.input_belief {
    height: 4vh;
    width: 100px;
    background-color: white;
    border: 2px solid #8c1c13;
    display: inline;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0;
    border-radius: 0.3vw;
  }

.input_label {
    display: inline;
    flex: 1;
}

.religion_div {
   margin-right: 2vw;
}