/* Default popup properties override */
.form-popup-content {
    min-width: 60vw !important;
    min-height: 65vh !important;
    padding: 0 !important;
    background-color: white !important;
    border-radius: 2vh !important;
    display: flex !important;
    flex-direction: column !important;
    border-width: 3px !important;
    border: black !important;
  }
  
  .popup-content {
    padding: 0px !important;
  }
  
  .grid_container {
    display: flex;
  }
  
  .grid_item {
    flex: 1;
  }
  
  .header {
    background-color: #f5e8d5;
    padding: 2vh;
  }
  
  .header_cell {
    display: table;
    margin: auto;
  }
  
  .sectionTitle {
    display: inline;
    margin-right: 1vw;
  }
  
  .sectionDiv {
    padding: 0.5vw;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
  }

.left_section {
    border-right: 1px solid grey;
}

.right_section {
    border-right: 1px solid grey;
}


.greyBackground {
    background-color: rgb(235, 233, 233);
}

.flexDiv {
    display: flex;
    flex: 1;
}

.inputForm {
    height: 4vh;
    width: 100px;
    background-color: white;
    border: 2px solid #8c1c13;
    display: inline;
    margin-left: 1vw;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0;
    border-radius: 0.3vw;
  }

.info-popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 0px;
}

[role="tooltip"].info-popup-content {
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

#float-label {
    display: flex;
    flex-direction: row;
}

.float_label {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1rem;
    font-weight: bold;
    width: 30%;
}

#float-label label {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5px;
    color: #999;
    pointer-events: none;
}

.inputDiv {
    background-color: #f5e8d5;
    margin-bottom: 2vh;
    border-radius: 1vw;
    padding-left: 1vw;
}