.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 5fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-areas:
    "content1"
    "content2"
    "content3"
    "content4";
  /* "content5"
    "content6"
    "content7"; */
}
.content1 {
  grid-area: content1;
  background-color: rgb(9, 91, 64);
}
.content2 {
  grid-area: content2;
  background-color: rgb(23, 123, 66);
}
.content3 {
  grid-area: content3;
  background-color: rgb(2, 68, 46);
}
.content4 {
  grid-area: content4;
  background-color: rgb(15, 18, 106);
}
.content5 {
  grid-area: content5;
  background-color: rgb(134, 20, 121);
}
.content6 {
  grid-area: content6;
  background-color: rgb(44, 162, 18);
}
.content7 {
  grid-area: content7;
  background-color: rgb(164, 34, 34);
}
.content8 {
  grid-area: content8;
  background-color: rgb(73, 6, 82);
}

@media only screen and (min-width: 768px) {
  .layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 5fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
      "content1 content1 content1 content1"
      "content content3 content4 content5"
      "content8 content3 content4 content6"
      "content8 content2 content2 content2"
      "content8 content2 content2 content2"
      "content8 content2 content2 content2"
      "content7 content7 content7 content7";
  }
}
