* {
  width: auto;
  height: auto;
}

.logo_memorys {
  margin-top: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  width: 250px;
  height: 70px;
}

.svg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  float: right;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .logo_memorys {
    width: 250px;
    height: 70px;
    margin-left: 10px;
  }

  .svg {
    width: 50%;
    height: auto;
    float: right;
  }
}

@media only screen and (min-width: 1024px) {
  .logo_memorys {
    width: 250px;
    height: 70px;
    margin-left: 20px;
  }

  .svg {
    width: 50%;
    height: auto;
    float: right;
  }
}

.login_container {
  position: relative;
  width: 400px;
  height: 400px;
  font-size: 15px;
  margin: 130px auto;
  display: flex; /* set display to flex */
  justify-content: center; /* center horizontally */
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.login_input {
  display: block;
  background-color: #e7d7c1;
  margin-block: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 45px;
  width: 300px;
  border: transparent;
  padding-left: 10px;
  border-radius: 10px;
}

input::placeholder {
  color: #780000;
  color: #224957;
  opacity: 100;
  padding-left: 5px;
  font-weight: bold;
}

input:hover {
  box-shadow: #780000 2px 2px 2px 2px;
  box-shadow: #054a2f 2px 2px 2px 2px;
}

.btn_container {
  margin-top: 30px;
}
