#navBarDiv {
  background-color: #e7d7c1;
  opacity: 90%;
  max-width: 100%;
  margin: 0 auto;
  margin-left: auto;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navImage {
  float: left;
  height: 40px;
  margin-top: 10px;
  min-width: 15px;
  margin-left: 2%;
  margin-right: 1%;
}

/*Displayed only when the screen width is too thin*/
.hamburger {
  display: none;
  float: left;
  height: 27px;
  padding: 10px;
  margin-top: 10px;
  min-width: 15px;
  margin-left: 2%;
  margin-right: 1%;
}

.appBar {
  width: 90%;
}

.appBar a {
  float: right;
}

.appBar ul a {
  display: block;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.appBar a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a78a7f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.appBar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.appBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 900px) {
  /*hamburger goes visible*/
  .hamburger {
    display: block;
  }

  /*app logo goes invisible*/
  .navImage {
    display: none;
    float: none;
  }

  .appBar ul a {
    padding: 12px;
    width: 100%;
  }

  .appBar ul {
    width: 100vw;
  }

  /*navbar links goes invisible*/
  .appBarClosed ul {
    display: none;
  }
}
