.preferenceDiv {
  display: flex;
  float: left;
  /* columns: 100px 3; */
  font: 1.5rem;
}

.pref_icon {
  display: flex;
  font-size: 1.7rem;
  justify-content: space-between;
  color: var(--logo-color);
}

.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 1.7rem;
  color: var(--logo-color);
}

.icon-edit {
  position: relative;
  color: var(--logo-color);
  top: 50%;
  left: 50%;
  transform: translate(-35%, -45%);
  font-size: 1.5rem;
}

.icon-wrapper-edit {
  display: inline-block;  
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--logo-color);
}

.label-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2vh;
  font-size: 1rem;
  color: black;
}

.form-btn-pref {
  background-color: #8c1c13;
  width: 4vw;
  height: 4vh;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.form-btn-pref:hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #e7d7c1,
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.form_button {
  background-color: #8c1c13;
}

.trash_button_div {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #8c1c13;
}

.trash_button {
  color:#ffffff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  font-size: 1.5rem;
}

.trash_button_div:hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #e7d7c1,
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  cursor: pointer;
}

.preference_input_div{
  /*2 columns using grid*/
  display: grid;
  grid-template-columns: 30% auto;
  grid-gap: 1vw;
  margin-top: 1vh;
  
}


