/* Div that contains the 3 inputs text for the old password, password and confirm password */
.div_profile {
    margin-top: 15vh;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #e7d7c1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

/* Div that contains the email and an image of a profile */
.div_header{
    text-align: center;
    font-size: 15px;
    margin-bottom: 3vh;
}

img { 
    margin-right: 5px;
}

/* Input text fields for old password, password and confirm password */
.input_profile{
    padding: 1vh;
    border-radius: 10px;
    /* margin-left: 20%;
    margin-right: 40%; */
    width: 100%;
}

.account-group {
    padding-bottom: 3vh;
}

/* Button to validate the form */
.button_profile, .button_reset {
    margin-top: 5vh;
    margin-left: 22%;
    margin-right: 22%;
    color: white;
    background-color: #780000;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 5px 0 0 0 grey;
    /* Border right */
    box-shadow: 0 2px 0 0 grey;
    /* Border bottom */
    padding-left: 4vh;
    padding-right: 4vh; 
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: .3s;
    letter-spacing: 1.5px;
}

.button_profile:hover {
    background-color: #c40000;
    box-shadow: 0 0 0 5px #78000061;
    color: #fff;
}

.button_reset {
    background-color: #78000061;
}

.button_reset:hover {
    background-color: #c40000;
    box-shadow: 0 0 0 5px #78000061;
    color: #fff;
}

@media (max-width: 600px) {
    .button_profile, .button_reset {
        font-size: 80%;
        margin-left: 0;
        margin-right: 0;
    }
}
