.section_header {
  margin-bottom: 1vh;
  padding: 1vh;
  text-align: center;
}

.center_content {
  display: inline-block;
}

.edit_button {
  font-size: 1.5rem;
  color: #a78a7f;
}

.edit_button:hover {
  color: var(--logo-color);
}
