/* Default popup properties override */
.popup-content {
    width: 60vw !important;
    min-height: 65vh !important;
    height: auto !important;
    padding: 2vh !important;
    background-color: #f2e1ca !important;
    border-radius: 1.5vh !important;
    display: flex !important;
    flex-direction: column !important;
    border-width: 3px !important;
    border: black !important;
}

.grid_item {
    flex: 1;
    padding: 0.5vw;
}

.grid_container {
    display: flex;
}

.header {
    display: table;
    margin: auto;
}

.sectionTitle {
    display: inline;
    margin-right: 1vw;
}

#eventsDiv {
    min-height: 60vh;
    border-right: 1px solid grey;
}

#periodsDiv {
    min-height: 40vh;
    border-right: 1px solid grey;
}

